<form action="/auth/register" method="post" accept-charset="utf-8">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="passwordConfirm" placeholder="Confirm Password">
	<input type="submit" value="Sign up">
</form>