<form id="authForm" action="/auth/login" method="post" accept-charset="utf-8">
	<input id="username" type="text" name="username" placeholder="Username">
	<input id="password" type="password" name="password" placeholder="Password">
	<center>
	<input id="authSubmit" type="submit" value="Log in">
	</center>
</form>