<form id="authForm" action="/auth/register" method="post" accept-charset="utf-8">
	<input id="username" type="text" name="username" placeholder="Username">
	<input id="password" type="password" name="password" placeholder="Password">
	<input id="passwordConfirmation" type="password" name="passwordConfirm" placeholder="Confirm Password">
	<center>
	<input id="authSubmit" type="submit" value="Sign up">
</center>
</form>