<nav>
	<ul>
		<a href="/"><li>ZenBin</li></a>
		<a href="/zens"><li>Zens</li></a>
		<%if(!user){%>
			<a href="#" onClick="zenbinApp.toggleLogin()"><li>Login</li></a>
			<a href="#" onClick="zenbinApp.toggleRegister()"><li>Sign Up</li></a>
		<%}else{%>
			<a href="/zens/user"><li>My Zens</li></a>
			<a href="/zens/new"><li>New Zen</li></a>
			<a href="/auth/logout"><li>Logout</li></a>
		<%}%>
		</ul>
	</ul>
</nav>