<% include ./partials/boilerplate%>
<div id="landingContainer">
	<div id="landingGreeter">
		<h1>Experience the beauty of letting go</h1>
		<p>Sometimes attachment can make life difficult. Whether it's attachment to fear, ideas you do not wish to entertain, or the concept of producing something lasting; we often lose sight of what we really wanted to do. ZenBin provides a very simple medium to produce things without pressure, or project things you don't want to sit in your head; as everything you post here will gradually disappear before you. Shout out all of your insecurities, write about those ideas you don't want to pursue, write stories no matter how bad you think it'll be, all while letting them go. <span style="font-weight: bold;">Excersize Detachment, Experience the beauty of letting go.</span></p>
	</div>
</div>
<script>
	//zenbinApp.startDecorating();
</script>
	
<% include ./partials/end%>