<% include ../partials/boilerplate%>
<h1><%=header%></h1>
<div id="zenContainer">
	<%zens.forEach(function(zen){%>
	<a href="/zens/<%=zen.id%>">
		<div class="zen">
			<p><%=zen.time_stamp%></p>
			<p><%=zen.content%></p>
		</div>
	</a>
	<hr>
	<%})%>
</div>
<% include ../partials/end%>