<% include ../partials/boilerplate%>
<h1><%=header%></h1>
<div id="zenContainer">
	<%zens.forEach(function(zen){%>
	<div class="zen">
		<p><%=zen.time_stamp%></p>
		<p><%=zen.content%></p>
	</div>
	<hr>
	<%})%>
</div>
<% include ../partials/end%>