<% include ../partials/boilerplate%>
	<form id="newZen" action="/zens" method="post" accept-charset="utf-8">
		<textarea form='newZen' name="content"></textarea>
		<input type="submit" value="Submit">
	</form>

<% include ../partials/end%>