<% include ../partials/boilerplate%>
	<div id="zen-single">
		<h3><%=zen.title%></h3>
		<p id="timeStamp-single"><%=zen.time_stamp%></p>
		<p id="content-single"><%=zen.content%></p>
	</div>
<% include ../partials/end%>
<% include ../partials/moment%>
<script>
zenbinApp.zenFadeSingle();
</script>