<% include ../partials/boilerplate%>
	<div id="zen-single">
		<h3><%=zen.title%></h3>
		<p id="timeStamp-single" data-unixStamp="<%=zen.time_stamp%>"><%=zen.timestring%></p>
		<p id="content-single"><%=zen.content%></p>
	</div>
<% include ../partials/end%>
<% include ../partials/moment%>
<script>
zenbinApp.zenFadeSingle();
</script>