html{
	--colorMain: #6666FF;
	--colorFontPrimary: #FFFFFF;
	--colorFontSecondary: #666666;
	--colorBackground: #B3E8FF;
	--colorBackgroundWhiteTrans: rgba(255,255,255,0.3);
	overflow: hidden;
}

body{
	display: flex;
	flex-direction: column;
	width: 100vw; height: 100vh;
	background: var(--colorBackground);
	overflow-x: hidden;
}

nav{
	flex-basis: 100px;
	width: 100vw; height: auto;
	background: var(--colorMain);
	color: var(--colorFontPrimary);
	position: fixed;
}

nav ul{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

nav ul a{
	flex-basis: 125px;
	font-size: 35px;
	text-align: center;
}

nav ul a:first-child{
	flex-basis: 75px;
	margin-right: auto;
	font-size: 75px;
}

#formRegister, #formLogin{
	position: fixed;
	top: 75px; right: 0;
	width: 300px; height: auto;
	border-radius: 0 0 0 15px;
	background: rgba(0,0,0,0.4);
}

#formRegister input, #formLogin input{
	width: 275px; height: 30px;
	margin: 10px;
	font-size: 28px;
}

#buttonSubmit{
	font-size: 26px;
	/*REEEEEEEEEEEE WHY DOESN'T THIS WORK!? FUCKING CSS, GET OUT OF MY DEVELOPMENT CYCLE! REEEEEEEEE*/
}

h1{
	font-size: 100px;
	text-align: center;
}

div{
	border-radius: 15px;
}

#landingContainer{
	flex:16;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#landingGreeter{
	flex-basis: auto;
	width:90%; height: auto;
	margin:5%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background:var(--colorBackgroundWhiteTrans);
	overflow: hidden;
}

#landingGreeter h1{
	color: var(--colorFontPrimary);
	margin-bottom: 30px;
}

#landingGreeter p{
	background:var(--colorBackgroundWhiteTrans);
	color:var(--colorFontSecondary);
	padding:15px;
}

/*Index pages*/
main{
	width: auto; height: auto;
	margin: calc(75px + 5%) 5% 5% 5%;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background: var(--colorBackgroundWhiteTrans);
}

main h1{
	color: var(--colorFontPrimary);
}

#zenContainer{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: var(--colorBackgroundWhiteTrans);
	overflow-y: scroll;
}

.zen{
	flex-basis: 300px; height: 500px;
	background: white;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	margin-bottom: 15px;
}

.zen h3{
	text-align: center;
	background: var(--colorMain);
	color: var(--colorFontPrimary);
}

.zen p{
	padding: 10px;
}

.timeStamp{
	text-align: center;
}

/*New zen page*/
main{
	/*inherits from above*/
}

#zenTitle{
	width: 90%; height: 30px;
	font-size: 28px;
	margin: 5%;

}

textarea{
	width: 90%; height: 75vh;
	margin: 0% 5%;
	font-size: 28px;
}

#zenSubmit{
	background: white;
	font-size: 36px;
	margin: 5%;
}