html{
	--colorMain: #6666FF;
	--colorFontPrimary: #FFFFFF;
	--colorFontSecondary: #666666;
	--colorBackground: #B3E8FF;
	--colorBackgroundWhiteTrans: rgba(255,255,255,0.3);
	overflow: hidden;
}

body{
	display: flex;
	flex-direction: column;
	width: 100vw; height: 100vh;
	background: var(--colorBackground);
	overflow-x: hidden;
	font-family: 'Alegreya', serif;
}

nav{
	user-select: none;
	flex-basis: 100px;
	width: 100vw; height: auto;
	background: var(--colorMain);
	color: var(--colorFontPrimary);
	position: fixed;
}

nav ul{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

nav ul a{
	flex-basis: 125px;
	font-size: 35px;
	text-align: center;
}

nav ul a:first-child{
	flex-basis: 75px;
	margin-right: auto;
	font-size: 75px;
	font-family: 'Pacifico', cursive;
}

#formRegister, #formLogin{
	position: fixed;
	top: 75px; right: 0;
	width: 300px; height: auto;
	border-radius: 0 0 0 15px;
	background: rgba(0,0,0,0.4);
}

#inputUsername, #inputPassword, #inputPasswordConfirm{
	width: 275px; height: 30px;
	margin: 10px;
	font-size: 28px;
}

#buttonSubmit{
	width: 277px;
	margin: 10px;
	font-size: 24px;
	background: white;
	/*REEEEEEEEEEEE WHY DOESN'T THIS WORK!? FUCKING CSS, GET OUT OF MY DEVELOPMENT CYCLE! REEEEEEEEE*/
}

h1{
	font-size: 100px;
	text-align: center;
}

div{
	border-radius: 15px;
}

#landingContainer{
	flex:16;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#landingGreeter{
	flex-basis: auto;
	width:90%; height: auto;
	margin:5%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background:var(--colorBackgroundWhiteTrans);
	overflow: hidden;
}

#landingGreeter h1{
	color: var(--colorFontPrimary);
	margin-bottom: 30px;
}

#landingGreeter p{
	background:var(--colorBackgroundWhiteTrans);
	color:var(--colorFontSecondary);
	padding:15px;
	font-size: 34px;
}

/*Index pages*/
main{
	width: auto; height: auto;
	margin: 100px 5% 5% 5%;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background: var(--colorBackgroundWhiteTrans);
}

main h1{
	color: var(--colorFontPrimary);
}

#zenContainer{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: var(--colorBackgroundWhiteTrans);
	overflow-y: scroll;
}

#zenContainer a{
	width: 400px; height: 500px;
	margin-bottom: 15px;
}

.zen{
	display: flex;
	flex-direction: column;
	flex-basis: 400px; height: 500px;
	background: white;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
}

h3{
	text-align: center;
	font-size: 28px;
	line-height: 36px;
	background: var(--colorMain);
	color: var(--colorFontPrimary);
}

.zenContent{
	user-select: none;
	min-height: 250px;
	padding: 10px;
	font-size: 22px;
	overflow-y: scroll; 
}

.timeStamp{
	min-height: 20px;
	font-size: 22px;
	text-align: center;	
	padding:5px;
}

/*New zen page*/
main{
	/*inherits from above*/
}

#zenTitle{
	width: 90%; height: 30px;
	font-size: 28px;
	margin: 25px 5%;

}

textarea{
	user-select: none;
	width: 90%; height: 50vh;
	margin: 0% 5%;
	font-size: 28px;
}

#zenSubmit{
	background: white;
	font-size: 36px;
	margin: 25px 5%;
}

/*Single Zen Page*/
#zen-single{
	width: auto; height: auto;
	margin: calc(75px + 5%) 5% 5% 5%;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: rgba(255,255,255,0.8);
	overflow: hidden;
}

#zen-single h3{
	font-size: 36px;
	line-height: 48px;
}

#timeStamp-single{
	min-height: 34px;
	font-size: 32px;
	text-align: center;	
	margin: 15px;
}

#content-single{
	user-select: none;
	padding: 15px;
	font-size: 32px;
	overflow-y: scroll;
}

/*Auth screens*/
main{
	/*inherits from above*/
}

#authForm{
	width: 100%; height:auto;
	background: var(--colorBackgroundWhiteTrans);
	border-radius: 15px;
	padding-top: 5%;	
}

#username, #password, #passwordConfirmation{
	width: 80%; height:40px;
	font-size: 38px;
	margin: 0 10%;
	margin-bottom: 5%;
}

#authSubmit{
	font-size: 38px;
	background: white;
	margin-bottom: 5%;
}

